.Main {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:20rem;
    background-color:white;
}
.Main-middle {
    position:absolute;
    top:5rem;
    width:100%;
    bottom:5rem;
}
.Main-bottom {
    padding:0 2rem 2rem 2rem;
    position:absolute;
    bottom:0;
    min-height:5rem;
    left:0;
    right:0;
    overflow:hidden;
    display:flex;
}
.Main-bottom .message-input-button {
    box-sizing: border-box;
    width:5rem;
    height:5rem;
    border: 2px solid #a5a5a5;
    border-right:0px solid Transparent;
    border-radius: 5px 0 0 5px;
    line-height:5rem;
    font-size:3rem;
    color:#a5a5a5;
    text-align:center;
    cursor:pointer;
}
.Main-bottom .message-input {
    box-sizing:border-box;
    font-family: Lato;
    border-radius:0 5px 5px 0;
    border: 2px solid #a5a5a5;
    width:100%;
    font-size:1.6rem;
    resize:none;
    padding: 0 0 0 1rem;
    line-height:5rem;
    height:5rem;
    outline:none;
}