
.Sidebar {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    font-family: Lato;
    width:20rem;
    background-color:black;
    color:#006600;
}
.Sidebar-header {
    font-family: Lato-Bold;
    font-size: 1.7rem;
    padding:1rem;
}
.Sidebar-chat-container {
    font-family: Lato-Bold;
    font-size:1.6rem;
}
.Sidebar-chat-container-header {
    padding:0.5rem 1rem;
}
.Sidebar-chat-container li {
    padding:0.5rem 1rem;
    cursor:pointer;
}
.Sidebar-chat-container li:hover {
    /* background-color:#006600;
    color:#00FF00; */
}
.active-section {
    /* background-color:#006600;
    color:#00FF00; */
}