.link-container {
    display:block;
    margin-left:5rem;
    margin-top:2.2rem;
    line-height:2rem;
    padding-left:2rem;
    position:relative;
}
.link-container:after {
    content:"";
    background-color: #dbdbdb;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:4px;
    border-radius:2px;

}
.link-url {
    display:block;
    text-decoration: none;
    color:#4272bf;
    font-weight: 700;
}
.link-image {
    display:block;
    width:40rem;
    height:30rem;
    background-repeat: no-repeat;
    background-position:center;
    border-radius:0.5rem;
}

@media (max-width:60rem) {
    .link-image {
        display:none;
    }
}
